extends layout

block content
    script(type='text/javascript' src='/javascripts/client.js')
    div.container
        
        div.row
            div.col-xs-6.col-sm-4.col-md-3.col-lg-3.col-sm-offset-2.col-md-offset-3.col-lg-offset-3
                span RED
                div.pull-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="5").gpio-checkbox
            
        div.row
            div.col-xs-6.col-sm-4.col-md-3.col-lg-3.col-sm-offset-2.col-md-offset-3.col-lg-offset-3
                span GREEN
                div.pull-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="6").gpio-checkbox
            
            